<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/picpiccard.png" alt="Logo" class="me-2" style="height: 40px;">
            <span class="fw-bold">PicPic Editor</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="bi bi-image me-1"></i> Imagem P&B
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/colorido">
                        <i class="bi bi-image-fill me-1"></i> Imagem Colorida
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>